* {
  color: black;
}
body {
  background: url(http://i1220.photobucket.com/albums/dd441/Mama-Cass/Layouts/drseuss22-hh297-fh288.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poiret One', cursive;
}
article {
  background-color:#FFCC00;
  border: 2px solid black;
  margin-left: 0px;
  padding: 0px;
  width: 70%;
}
.editTask {
  display: none;
}
.show {
  display: block;
}
h1 {
  font-size: 60px;
  color: black;
  margin-left: 30px;

}
.form-control {
  background-color:#FFCC00;
  border: 2px solid black;
  width: 50%;
  margin-left: 0px;
  padding: 0px;
}
input.form-control {
}
.btn-primary {
  background-color:#FFCC00;
  border: 2px solid black;
}
.btn-primary:hover {
  background-color:gray;
  border: 2px solid black;
}
button {
  background-color: #52c6d5;
  color: white;
}


/*****TESTING AREA*****/
/*****TESTING AREA*****/
