/********** COLORS **********
Hat red: #ED1D25  
****************************/

* {
  color: black;
}
.background {
  background: url("drseuss.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  font-family: 'Poiret One', cursive;
}
article {
  background-color:#FFCC00;
  border: 2px solid black;
  margin-bottom: 5px;
}
section {
  height: 800px;
}
.editTask {
  display: none;
}
.show {
  display: block;
}
h1 {
  font-size: 52px;
  color: black;
  text-align: center;
}
.form-control {
  background-color:#ED1D25;
  border: 2px solid blue;
  margin: 0px;
  padding: 0px;
}
.custom-input {
  margin-top: -350px;
}
.custom-input input::-webkit-input-placeholder {
  color: black;
}
.custom-input input::-moz-placeholder {
  color: black;
}
.custom-input input:-moz-placeholder {  /* Older versions of Firefox */
  color: black;
}
.custom-input input:-ms-input-placeholder {
  color: black;
}
.btn-primary {
  background-color:#FFCC00  ;
  border: 2px solid black;
}
.btn-primary:hover {
  background-color:gray;
  border: 2px solid black;
}
button {
  background-color: #52c6d5  ;
  color: white;
}

/*****TESTING AREA*****/
/*****TESTING AREA*****/
